<p id="notice"><%= notice %></p>

<style>
    body {
        font: 10px sans-serif;
      }

      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }

      .axis path
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }


      .valueline {
        fill: none;
        stroke: red;
        stroke-width: .1;
      }

      .valueline2 {
        fill: none;
        stroke: green;
        stroke-width: .5;
      }

      .area {
        fill: steelblue;
        stroke-width: 1;
        stroke: red;
        opacity: .5;
      }

       .Raxis {
        fill: green;
      }

</style>

<h1>Crimes & Temperatures</h1>
  <%= javascript_include_tag "d3.min.js" %>
  <script type="text/javascript">var currentUrl = document.URL + ".json";
  alert(currentUrl);
  </script>
  <div id="test-chart"></div>
    <script>
    var loadedJson = '/crimes.json'
    var margin = {top: 20, right: 20, bottom: 30, left: 50},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    var parseDate = d3.time.format("%Y-%m-%d").parse;

    var x = d3.time.scale()
        .range([0, width]);

    var y = d3.scale.linear()
        .range([height, 0]);

    var y1 = d3.scale.linear()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .ticks(15)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");

    var yAxisRight = d3.svg.axis().scale(y1)
        .orient("right");

    var area = d3.svg.area()
        .x(function(d) { return x(d.date); })
        .y0(height)
        .y1(function(d) { return y(d.crimes); });

    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var valueline = d3.svg.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.crimes); });

    var valueline2 = d3.svg.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y1(d.temperature); });

    d3.json(currentUrl, function (data) {
      data.forEach(function(d) {
        d.date = parseDate(d.crimedate);
        d.crimes = +d.crimes;
        d.temperature = +d.temperature;
      });

    data.sort(function(a, b){  return d3.ascending(a.date, b.date);  });

    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain([0, d3.max(data, function(d) { return d.crimes; })]);
    y1.domain([0, d3.max(data, function(d) { return d.temperature; })]);

    svg.append("path")
      .datum(data)
      .attr("class", "area")
      .attr("d", area);

    svg.append("path")
        .attr("class", "valueline")
        .attr("d", valueline(data));

    svg.append("path")
        .attr("class", "valueline2")
        .attr("d", valueline2(data));

    svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

    svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .style("fill", "red")
      .text("Crimes");

    svg.append("g")
          .attr("transform", "translate(" + width + " ,0)")
          .style("fill", "green")
          .call(yAxisRight)
        .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          .attr("class", "y axis")
          .style("fill", "green")
          .attr("class", "RAxis")
          .text("Temperature");
    });
  </script>


<br>

<div class="view-options text">
<%= form_tag('/filters', method: :get) do %>
  Arrest
  <div class="field">
    <select name="arrest">
      <option>All</option>
      <option value="Arrest">Arrest</option>
      <option value="No Arrest">No Arrest</option>
      <option value="All">All</option>
    </select>
  </div>
  <div class="field">
    Year<br>
    <%= number_field_tag "year", nil, in: 2001..2015 %>
  </div>
  <div class="field">
    <%= submit_tag("Filter", :class => "btn btn-default filter-button") %>
  </div>
<% end %>
<br>
</div>